        @font-face {
            font-family: 'newyorkregular';
            src: url('newyork-webfont.woff2') format('woff2'), url('newyork-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            overflow-x: hidden;
            scroll-behavior: smooth;
        }
        
        body {
            font-family: 'newyorkregular';
            color: #fff;
            background-color: #061212;
            overflow-x: hidden;
        }
        
        p {
            font-family: 'Raleway', sans-serif;
            line-height: 2em;
        }
        
        h1,
        h2 {
            font-weight: normal;
        }
        
        h2 {
            font-size: 4rem;
            text-align: center;
            padding: 0.5em 0em;
        }
        
        a {
            text-decoration: none;
        }
        
        li {
            list-style: none;
        }
        
        .navbar {
            position: fixed;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2em 6%;
            color: #fff;
            text-transform: uppercase;
            background: rgba(0, 0, 0, 0);
            z-index: 100;
        }
        
        .navbar.active {
            background: #021d18B3;
            backdrop-filter: blur(5px);
            border-bottom: #C0885F 1px solid;
            transform: scaleX(1);
        }
        
        .logo a {
            font-family: 'newyorkregular';
            font-size: 2em;
            letter-spacing: 0.1em;
            color: #fff;
        }
        
        .menu ul {
            display: flex;
            gap: 4em;
            font-size: 0.8em;
            letter-spacing: 0.2em;
            font-family: 'Raleway', sans-serif;
        }
        
        .menu a {
            color: #fff;
        }
        
        .menu a:hover {
            color: #C0885F;
            transition: 0.3s ease;
        }
        
        .hero {
            width: 100vw;
            height: 100vh;
            padding-left: 6%;
            padding-right: 6%;
            position: relative;
            background-image: url("images/Taika_Tiger_Logo_BG.svg"), url("images/Green_Textured_BG.png");
            background-size: 80vh, cover;
            background-position: right, center;
            background-repeat: no-repeat;
            background-attachment: sticky;
            overflow-x: hidden;
            display: flex;
        }
        
        .hero-logo {
            position: absolute;
            width: 100vw;
            height: auto;
            left: 0;
            top: 10vh;
        }
        
        .hero-logo img {
            max-width: 100%;
            height: auto;
            margin: auto;
            display: block;
        }
        
        .hero-inner {
            margin: auto;
            height: auto;
            width: 100vw;
            z-index: 1;
        }
        
        .headline {
            font-size: 60px;
            color: #C0885F;
        }
        
        .headline svg {
            vertical-align: middle;
            width: 294px;
            height: auto;
        }
        
        .scroll-anim {
            margin: auto;
            width: 100%;
            z-index: -1;
        }
        /* Scroll animation */
        
        .scroll-down {
            position: absolute;
            left: calc(50% - 15px);
            bottom: 5vh;
            display: block;
            text-align: center;
            font-size: 20px;
            z-index: 100;
            text-decoration: none;
            text-shadow: 0;
            width: 30px;
            height: 30px;
            border-bottom: 3px solid #C0885F;
            border-right: 3px solid #C0885F;
            z-index: 9;
            -webkit-transform: translate(-50%, 0%) rotate(45deg);
            -moz-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
            -webkit-animation: fade_move_down 2s ease-in-out infinite;
            -moz-animation: fade_move_down 2s ease-in-out infinite;
            animation: fade_move_down 2s ease-in-out infinite;
        }
        
        @-webkit-keyframes fade_move_down {
            0% {
                -webkit-transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                -webkit-transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }
        
        @-moz-keyframes fade_move_down {
            0% {
                -moz-transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                -moz-transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }
        
        @keyframes fade_move_down {
            0% {
                transform: translate(0, -10px) rotate(45deg);
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                transform: translate(0, 10px) rotate(45deg);
                opacity: 0;
            }
        }
        /*end animated scroll arrow animation*/
        
        .container {
            margin: 20px 6%;
        }
        
        .heading-decoration svg {
            margin: auto;
            width: 100%;
        }
        
        .lines-deco-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 120px;
            width: auto;
            border-bottom: 1px solid #C0885F;
        }
        
        .lines-deco {
            border-right: 1px solid #C0885F;
        }
        
        .line {
            border-top: solid 1px #C0885F;
        }
        
        .portfolio-grid {
            display: grid;
            grid-template-columns: auto auto;
            place-items: center;
            gap: 60px;
            padding: 60px 0px;
            position: relative;
        }
        
        .portfolio-grid img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .image-wrapper {
            position: relative;
            float: left;
            height: 100%;
        }
        
        .image-wrapper .title {
            position: absolute;
            color: #fff;
            font-size: 25px;
            bottom: 20px;
            left: 10px;
            right: 0;
            z-index: 2;
            opacity: 0;
            transition: .5s ease;
        }
        
        .image-wrapper:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            object-fit: cover;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #061212 100%);
            z-index: 1;
            border-bottom: 1px solid #C0885F;
            opacity: 0;
            transition: .5s ease;
            cursor: pointer;
        }
        
        .modal-container {
            display: none;
            position: fixed;
            z-index: 101;
            padding-top: 100px;
            padding-bottom: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.7);
            /* Black w/ opacity */
        }
        
        .modal-content {
            background-color: #061212;
            margin: auto;
            padding: 20px 60px 0px;
            border: 1px solid #C0885F;
            border-radius: 10px;
            width: 80%;
            max-width: 1250px;
        }
        
        .modal-content h2 {
            margin-bottom: 60px;
            border-bottom: #C0885F 1px solid;
        }
        
        .modal-content p {
            margin-bottom: 60px;
        }
        
        .agency {
            font-size: 1.5em;
            margin-bottom: 20px;
        }
        
        .close-wrapper {
            display: grid;
            justify-content: end;
            height: 50px;
        }
        
        .close {
            color: #C0885F;
            position: relative;
            font-size: 72px;
        }
        
        .close:hover,
        .close:focus {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
        
        .case-image {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            margin-bottom: 60px;
        }
        
        .modal-content video {
            width: 100% !important;
            height: auto !important;
            margin-bottom: 60px;
        }
        
        .info {
            font-style: italic;
            color: hsl(176, 10%, 40%);
        }
        
        .about {
            margin: 20px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
            gap: 60px;
        }
        
        .about img {
            /* max-width: 100%;
            height: auto; */
            width: 100%;
            height: 100%;
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        }
        
        .about-text q {
            line-height: 1.5em;
            font-size: 1.5em;
            color: #C0885F;
        }
        
        .about-text p {
            margin-top: 20px;
        }
        
        #contact_section {
            position: relative;
            margin: 0 6%;
            width: auto;
            height: auto;
            overflow: hidden;
            border-top: #C0885F 1px solid;
            border-left: #C0885F 1px solid;
            border-right: #C0885F 1px solid;
            border-radius: 50% 50% 0 0/ 100% 100% 0 0;
        }
        
        .contact-content {
            padding-top: 100px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
        #contact_section h2 {
            width: 60vw;
        }
        
        .button-container {
            display: flex;
            justify-content: center;
            margin: 40px auto;
        }
        
        .contact-btn {
            font-family: 'Raleway', sans-serif;
            line-height: 2em;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 600;
            border-radius: 500px;
            background-color: #C0885F;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            color: #061212;
            font-size: 0.8em;
            cursor: pointer;
            transition-duration: 0.4s;
            border: 1px solid transparent;
        }
        
        .contact-btn:hover {
            border: #C0885F 1px solid;
            background-color: #061212;
            color: #fff;
        }
        
        footer {
            background-color: #021D1B;
            height: auto;
            width: 100vw;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        
        .footer-content img {
            width: 10%;
            min-width: 150px;
            height: auto;
        }
        
        .author {
            font-size: 2em;
            margin-top: 20px;
        }
        
        @media (hover: hover) and (pointer: fine) {
            .image-wrapper:hover:before {
                opacity: 1;
                height: 100%;
            }
            .image-wrapper:hover .title {
                opacity: 1;
            }
        }
        
        @media only screen and (max-width: 1500px) {
            .headline {
                font-size: 40px;
            }
            .headline svg {
                width: 190px;
            }
        }
        
        @media only screen and (max-width: 1080px) {
            .logo a {
                font-size: 1.5em;
            }
            .headline {
                font-size: 32px;
            }
            .headline svg {
                width: 156px;
            }
        }
        
        @media only screen and (max-width: 900px) {
            .hero-logo {
                position: absolute;
                width: 100vw;
                height: auto;
                left: 0;
                top: 10vh;
            }
            .hero-logo img {
                max-width: 150%;
                opacity: 40%;
                height: auto;
            }
            .headline {
                font-size: 28px;
            }
            .headline svg {
                width: 144px;
            }
            .portfolio-grid {
                grid-template-columns: auto;
            }
            .modal-content {
                padding: 20px 20px 0px;
                width: 95%;
            }
            .case-image {
                margin-bottom: 20px;
            }
            .modal-content video {
                margin-bottom: 20px;
            }
            #contact_section {
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                overflow: hidden;
                margin-top: 100px;
                margin-left: -20%;
                margin-right: -20%;
            }
        }
        
        @media only screen and (max-width: 700px) {
            .menu ul {
                gap: 4em;
                font-size: 0.6em;
            }
            .logo a {
                font-size: 1em;
            }
            .lines-deco-container {
                display: none;
            }
            .heading-decoration svg {
                height: 150px;
            }
            h2 {
                font-size: 2.5em;
            }
            .about {
                grid-template-columns: 1fr;
            }
            .portrait {
                grid-row: 1;
            }
            .contact-btn {
                font-size: 0.6em;
                padding: 12px 24px;
            }
        }